<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" type="text/css" media="all" href="../../static/css/styles.css" th:href="@{/css/styles.css}">
  <link rel="stylesheet" type="text/css" media="all" href="../../static/css/solid.css" th:href="@{/css/solid.css}">
  <link rel="stylesheet" type="text/css" media="all" href="../../static/css/fontawesome.css" th:href="@{/css/fontawesome.css}">
  <title>Assignee Form</title>
</head>
<body>
<main>
  <div class="container">
    <h1>Assignee Form</h1>
    <form th:action="@{../addAssignee.html}" th:object="${assignee}" th:method="post" class="edit-form" th:fragment="assignee-form">
      <div class="form-group">
        <label for="assignee-name">Name</label>
        <input type="text" th:field="*{name}" id="assignee-name" class="form-input input">
      </div>
      <div class="form-group">
        <label for="assignee-email">E-mail</label>
        <input type="text" th:field="*{email}" id="assignee-email" class="form-input input">
      </div>
      <div class="form-group">
        <label for="assignee-password">Password</label>
        <input type="password" id="assignee-password" class="form-input input">
      </div>
      <div class="form-group">
        <label for="assignee-password">Password Confirmation</label>
        <input type="password" id="assignee-password" class="form-input input">
      </div>
      <div class="form-group form-buttons">
        <button type="submit" class="">Save Changes</button>
        <input class="cancel-button" type="reset">
      </div>
    </form>
  </div>
</main>
</body>
</html>
