<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" type="text/css" media="all" href="../../static/css/styles.css" th:href="@{/css/styles.css}">
  <link rel="stylesheet" type="text/css" media="all" href="../../static/css/solid.css" th:href="@{/css/solid.css}">
  <link rel="stylesheet" type="text/css" media="all" href="../../static/css/fontawesome.css" th:href="@{/css/fontawesome.css}">
  <title th:text="${title}">Head</title>
</head>
