<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" media="all" href="../../static/css/styles.css" th:href="@{/css/styles.css}">
    <link rel="stylesheet" type="text/css" media="all" href="../../static/css/solid.css" th:href="@{/css/solid.css}">
    <link rel="stylesheet" type="text/css" media="all" href="../../static/css/fontawesome.css" th:href="@{/css/fontawesome.css}">
    <title>Header</title>
</head>
<body>
<header th:fragment="header" class="main-header">
    <nav th:fragment="nav" class="main-navigation">
        <a href="../addItem.html" th:href="@{/item/add}">Add Item</a>
        <a href="../listItem.html" th:href="@{/item/list}">List of Items</a>
        <a href="../addBorrower.html" th:href="@{/borrower/add}">Add Borrower</a>
        <a href="../listBorrower.html" th:href="@{/borrower/list}">List of Borrowers</a>
    </nav>
</header>
</body>
</html>