<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" media="all" href="../../static/css/styles.css" th:href="@{/css/styles.css}">
    <link rel="stylesheet" type="text/css" media="all" href="../../static/css/solid.css" th:href="@{/css/solid.css}">
    <link rel="stylesheet" type="text/css" media="all" href="../../static/css/fontawesome.css" th:href="@{/css/fontawesome.css}">
    <title>Header</title>
</head>
<body>
<header th:fragment="header" class="main-header">
    <nav th:fragment="nav" class="main-navigation">
        <a href="../addTodo.html" th:href="@{/todo/add}">Add Todo</a>
        <a href="../listTodo.html" th:href="@{/todo/list}">List of Todos</a>
        <a href="../addAssignee.html" th:href="@{/assignee/add}">Add Assignee</a>
        <a href="../listAssignee.html" th:href="@{/assignee/}">List of Assignees</a>
    </nav>
</header>
</body>
</html>