<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" type="text/css" media="all" href="../../static/css/styles.css" th:href="@{/css/styles.css}">
  <link rel="stylesheet" type="text/css" media="all" href="../../static/css/solid.css" th:href="@{/css/solid.css}">
  <link rel="stylesheet" type="text/css" media="all" href="../../static/css/fontawesome.css" th:href="@{/css/fontawesome.css}">
  <title>Search</title>
</head>
<body>
<header th:replace="~{header :: header}"></header>
<main>
  <div class="container">
    <div class="search-container">
      <form class="search-form"  th:fragment="text-search">
        <label for="search-text">Text</label>
        <input class="search-input input" type="search" name="input" id="search-text"
               placeholder="Search todos...">
        <button type="submit" th:formaction="@{/todo/filter-by-title}" th:formmethod="post">By Title
        </button>
        <button type="submit" th:formaction="@{/todo/filter-by-description}" th:formmethod="post"> By Description
        </button>
        <button type="submit" th:formaction="@{/todo/filter-by-assignee-name}" th:formmethod="post">By Assignee's Name
        </button>
      </form>
      <form class="search-form" th:fragment="date-search">
        <label for="search-date">Dates</label>
        <input class="search-input input" type="date" name="date" id="search-date" value="1989-01-02" th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}">
        <button type="submit" th:formaction="@{/todo/filter-by-creation-date}" th:formmethod="post">By Creation Date</button>
        <button type="submit" th:formaction="@{/todo/filter-by-due-date}" th:formmethod="post">By Due Date</button>
      </form>
    </div>
  </div>
</main>
</body>
</html>
