<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" media="all" href="../static/css/styles.css" th:href="@{/css/styles.css}">
  <link rel="stylesheet" type="text/css" media="all" href="../static/css/solid.css" th:href="@{/css/solid.css}">
  <link rel="stylesheet" type="text/css" media="all" href="../static/css/fontawesome.css" th:href="@{/css/fontawesome.css}">
  <title>Todo List</title>
</head>
<body>
<header th:replace="~{fragments/header::header}"></header>
<main>
  <div class="container">
    <h1>Todos</h1>
    <div class="search-container">
      <form th:replace="~{fragments/search::text-search}"></form>
      <form th:replace="~{fragments/search::date-search}"></form>
    </div>
    <table class="list">
      <thead>
      <tr>
        <th><h4>Title</h4></th>
        <th><h4>Urgent</h4></th>
        <th><h4>Done</h4></th>
        <th><h4>Due</h4></th>
        <th><h4>Created</h4></th>
        <th><h4>Assignee</h4></th>
        <th><h4></h4></th>
        <th><h4></h4></th>
        <th><h4></h4></th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="todo : ${todos}" th:object="${todo}">
        <td th:text="*{title}">Title</td>
        <td><i th:if="${todo.urgent}" class="fa-solid fa-exclamation urgent"></i></td>
        <td><i th:if="${todo.done}" class="fa-solid fa-check done"></i></td>
        <td th:text="*{#dates.format(dueDate, 'dd MMM yyyy')}">Due Date</td>
        <td th:text="*{#dates.format(creationDate, 'dd MMM yyyy')}">Creation Date</td>
        <td><a th:if="*{assignee}" th:object="${todo.assignee}"
               th:href="@{/todo/{id}/filter-by-assignee-id(id=*{id})}" th:method="get"
               th:text="*{name}">Assignee</a></td>
        <td>
          <a th:href="@{/todo/{id}(id=*{id})}">
            <button class="detail-button">Detail</button>
          </a>
        </td>
        <td>
          <form th:action="@{/todo/{id}/delete(id=*{id})}" method="post">
            <button class="delete-button">Delete</button>
          </form>
        </td>
        <td>
          <a th:href="@{/todo/{id}/edit(id=*{id})}">
            <button class="edit-button">Edit</button>
          </a>
        </td>
      </tr>
      <!--/* static prototype dummy data */-->
      <tr th:remove="all">
        <td>Title</td>
        <td><i class="fa-solid fa-exclamation urgent"></i></td>
        <td><i class="fa-solid fa-check done"></i></td>
        <td>Due Date</td>
        <td>Creation Date</td>
        <td><a>Assignee</a></td>
        <td>
          <a>
            <button class="detail-button">Detail</button>
          </a>
        </td>
        <td>
          <a>
            <button class="delete-button">Delete</button>
          </a>
        </td>
        <td>
          <a>
            <button class="edit-button">Edit</button>
          </a>
        </td>
      </tr>
      <tr th:remove="all">
        <td>Title</td>
        <td><i class="fa-solid fa-exclamation urgent"></i></td>
        <td><i class="fa-solid fa-check done"></i></td>
        <td>Due Date</td>
        <td>Creation Date</td>
        <td><a>Assignee</a></td>
        <td>
          <a>
            <button class="detail-button">Detail</button>
          </a>
        </td>
        <td>
          <a>
            <button class="delete-button">Delete</button>
          </a>
        </td>
        <td>
          <a>
            <button class="edit-button">Edit</button>
          </a>
        </td>
      </tr>
      <tr th:remove="all">
        <td>Title</td>
        <td><i class="fa-solid fa-exclamation urgent"></i></td>
        <td><i class="fa-solid fa-check done"></i></td>
        <td>Due Date</td>
        <td>Creation Date</td>
        <td><a>Assignee</a></td>
        <td>
          <a>
            <button class="detail-button">Detail</button>
          </a>
        </td>
        <td>
          <a>
            <button class="delete-button">Delete</button>
          </a>
        </td>
        <td>
          <a>
            <button class="edit-button">Edit</button>
          </a>
        </td>
      </tr>
      <tr th:remove="all">
        <td>Title</td>
        <td><i class="fa-solid fa-exclamation urgent"></i></td>
        <td><i class="fa-solid fa-check done"></i></td>
        <td>Due Date</td>
        <td>Creation Date</td>
        <td><a>Assignee</a></td>
        <td>
          <a>
            <button class="detail-button">Detail</button>
          </a>
        </td>
        <td>
          <a>
            <button class="delete-button">Delete</button>
          </a>
        </td>
        <td>
          <a>
            <button class="edit-button">Edit</button>
          </a>
        </td>
      </tr>
      <tr th:remove="all">
        <td>Title</td>
        <td><i class="fa-solid fa-exclamation urgent"></i></td>
        <td><i class="fa-solid fa-check done"></i></td>
        <td>Due Date</td>
        <td>Creation Date</td>
        <td><a>Assignee</a></td>
        <td>
          <a>
            <button class="detail-button">Detail</button>
          </a>
        </td>
        <td>
          <a>
            <button class="delete-button">Delete</button>
          </a>
        </td>
        <td>
          <a>
            <button class="edit-button">Edit</button>
          </a>
        </td>
      </tr>
      <!--/* static prototype dummy data */-->
      </tbody>
    </table>
  </div>
</main>
<footer th:replace="~{fragments/footer::footer}"></footer>
</body>
</html>
